[core]
	excludesfile = /Users/mlopes/.gitignore
	editor = vim
[user]
[alias]
	ci = commit
	st = status
	co = checkout
	br = branch
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Marcos Antonio Lopes
	email = mlopes@expedia.com
[github]
	user = marcoslopes
[ghi]
	token = !security find-internet-password -a mlopes -s github.com -l 'ghi token' -w
[http]
	sslVerify = false
